.container {
  width: 100%;
  height: 100%;
}
.input {
  margin: 4rem auto 2rem auto;
  padding: 1rem;
  width: 92%;
  max-width: 50rem;
}

.input__control {
  margin: 1rem 0;
}

.input__control label {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.7rem;
}

.input__control input {
  font: inherit;
  display: block;
  width: 100%;
  max-width: 25rem;
  border: 1px solid #4ec6e4;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.input__control input:focus {
  outline: none;
  border: 1px solid transparent;
  background-color: #d2e9ee;
}

.input__submit {
  text-align: center;
  padding: 1rem;
}
